<style>
  .pe-item-selected {
    display: inline-block;
    color: var(--pe-theme-color, #08c7ff);
    text-transform: capitalize;
  }

  .pe-border .pe-item-selected {
    border: 4px solid var(--pe-theme-color, #08c7ff);
    margin: 0 1px;
  }

  .pe-underline .pe-item-selected::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    top: -3px;
    background: var(--pe-theme-color, #08c7ff);
  }

  .pe-overline .pe-item-selected::before {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    top: 3px;
    background: var(--pe-theme-color, #08c7ff);
  }

  .pe-bold .pe-item-selected {
    font-weight: 600;
  }

  .pe-inverse span:not(.pe-item-selected) {
    color: var(--pe-theme-color, #08c7ff);
  }
  .pe-inverse span.pe-item-selected {
    color: inherit;
  }
</style>

<span class="periodic-content"></span>
